<%= image_tag 'https://s3.amazonaws.com/storyls.com/accounts/logos/000/000/017/original/TMN-Logo_Trimmed.png?1505910988' %>

<br/>
<br/>

<h3>Welcome to TMN Data Schema Viewer!</h3>

<br/>

<p>
  <span class='label alert'><===&nbsp;NOW: Select any table in the sidebar to start ...</span>
</p>
